:root {
    --primary-color: #e8e8e8;
    --secondary-color: #000000;
    --num-apps: 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: min-content auto 3em;
    background-color: var(--primary-color);
}

header {
    grid-area: header;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* icons */

.icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.app {
    --button_radius: 0.75em;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--secondary-color);
}

.app_top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: .75em;
    border: 2px solid var(--secondary-color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--primary-color);
    color: var(--secondary-color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.app:hover .app_top {
    transform: translateY(-0.33em);
}

.app:active .app_top {
    transform: translateY(0);
}

.app img {
    background-color: white;
    border-radius: 15%;
    width: 6em;
}

/* lists */

.list-section {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.link-list>h2 {
    border: 2px solid var(--secondary-color);
    border-radius: .30em;
    padding: .25em;
    width: 100%;
    text-align: center;
}

.link-list>ul>li {
    margin-top: .5em;
}
