*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #222525;
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

h1 {
    color: #77f;
    font-size: 7vh;
    padding-top: 3vh;
}

h3 {
    color: #558;
    font-size: 5vh;
}

a {
    color: #fff;
    font-size: 4vh;
}

a:hover {
    color:#77f
}

p {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: ff5;
}

i {
    color: #558;
    font-size: 3vh;
    margin-right: 1vh;
    margin-left: 1vh;
}

@media screen and (min-width: 600px) {
    .grid {
        max-height: 80vh;
    }

    h1 {
        font-size: 10vh;
    }
}